.test-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden; // Khóa cuộn toàn trang để các vùng con tự cuộn
}

.test-header {
  height: 60px;
  background-color: #3e4756;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;

  .timer-box {
    background: #2c343f;
    padding: 5px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffd740;
  }
}

.test-main-content {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.test-tabs-group {
  height: 100%;
  ::ng-deep .mat-mdc-tab-body-wrapper {
    height: calc(100% - 48px); // Trừ đi chiều cao của thanh Tab Label
  }
}

.part-container {
  height: 100%;
  width: 100%;
}

.test-footer {
  height: 70px;
  background-color: #f0f2f5;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* Các màn hình chờ */
.start-overlay, .ready-screen {
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.9);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}